<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid title">
    <a class="navbar-brand" href="/">
      <h2><i class="fas fa-coins pt-1"></i>&nbsp;&nbsp;Pocket Partner</h2>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% if session.logged_in %}
        <li class="nav-item mr-5">
          <a class="nav-link" aria-current="page" href="/logout">
            <i class="fa fa-sign-out-alt"></i>
            Logout
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/register"><i class="fa fa-user-plus"></i>Register</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link" aria-current="page" href="/login"><i class="fa fa-sign-in-alt"></i>Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
